body {
    margin: 0;
    font-family: sans-serif;
    /*background-color: black;*/
}

body > div.layout-center > div > aside {
    max-width:300px;
    box-shadow: 0 1px 6px 0 rgba(17,17,17,.37)!important;
    background:#fff;
    margin-right:795px;
    margin-top:30px;
    border:1px solid #d9d9d9;
}
body > div.layout-center > div > main {
    border:none;
}

.layout-swap {
    background:#FEFEFE;
}

a {
    color: grey;
}

span.site-name {
    font-size: 3em;
    color: black;
    margin-left: 100px;
    margin-top: 250px;
}

#logo {
    width: 75px;
    float: left;
}

.navbar {
    height: 400px;
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
    background-image: url('../images/what_happending_header2.jpg');
    background-size: contain;
}

.navbar-collapse {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse > .search-form {
    display: none;
}

#main-menu {
    width: 100%;
    background-color: black;
    margin: 0;
    clear: both;
}

#main-menu li {
    float: left;
    color: #EEE !important;
}

#sidebar_left {
    width: 25%;
    float: left;
    padding: 10px;
    background-color: #fefefe;
    /*height: 100vh;*/
}

#sidebar_second {
    width: 25%;
    float: right;
    padding: 10px;
    background-color: #EEE;;
    /*height: 100vh;*/
}

#content {
    padding: 10px 15px;
}

.node {
    width: 73%;
    float: right;
}

.node-podcast-episode {
    padding: 15px;
    /*border-bottom: 2px solid black;*/
    margin-bottom: 10px;
}

article > div.content > .field-name-field-podcast-image {
    margin-bottom: 10px;
}

.form-item {
    margin-top: 0px;
}

.scrolling {

}


.region-sidebar-left {
    max-width:300px;
    box-shadow: 0 1px 6px 0 rgba(17,17,17,.37)!important;
    background:#fff;
    padding: 10px;
    margin-right:10px;
    border:1px solid #d9d9d9;
}

body > div.layout-center > div > main {
    border:none;
}

.layout-swap {
    background:#FEFEFE;
}

.col-xs-9 {
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;
}

.col-xs-9 img {
    max-width:100%;
    min-width: 200px;
    height: auto;
}



.node-podcast-episode {
    float:left;
}

@media screen and (max-width: 600px) {
    #sidebar_left {
        display:none;
    }
    .col-xs-9 {
        width:100%;
    }
}
