body {
    margin: 0;
    font-family: sans-serif;
    /*background-color: black;*/
    background: #FCFCFC;
}

body > div.layout-center > div > aside {
    max-width:300px;
    box-shadow: 0 1px 6px 0 rgba(17,17,17,.37)!important;
    background:#fff;
    margin-right:795px;
    margin-top:30px;
    border:1px solid #d9d9d9;
}
body > div.layout-center > div > main {
    border:none;
}

.layout-swap {
    background:#FEFEFE;
}

a {
    color: #1a6293;
}

span.site-name {
    font-size: 3em;
    color: black;
    margin-left: 100px;
    margin-top: 100px;
}

#logo {
    margin-top: 50px;
    width: 300px;
    float: left;
}

.navbar {
    height: 400px;
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
    background-size: contain;
    height:50px;
}

.navbar-collapse {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse > .search-form {
    display: none;
}

#main-menu {
    width: 100%;
    background-color: black;
    margin: 0;
    clear: both;
}

#main-menu li {
    float: left;
    color: #EEE !important;
}

#sidebar_left {
    width: 25%;
    float: left;
    padding: 10px;
    background-color: #fefefe;
    /*height: 100vh;*/
}

#sidebar_second {
    width: 25%;
    float: right;
    padding: 10px;
    background-color: #EEE;;
    /*height: 100vh;*/
}

#content {
    padding: 10px 0px;
}

.node {
    width: 73%;
    float: right;
}

.node-podcast-episode {
    padding: 15px;
    /*border-bottom: 2px solid black;*/
    margin-bottom: 25px;
    box-shadow: 0 1px 6px 0 rgba(17,17,17,.37)!important;
    background:#FFF;
    width:47.5%;
    margin-right:25px;
}

article > div.content > .field-name-field-podcast-image {
    margin-bottom: 10px;
}

.form-item {
    margin-top: 0px;
}

.scrolling {

}


.region-sidebar-left {
    max-width:300px;
    box-shadow: 0 1px 6px 0 rgba(17,17,17,.37)!important;
    background:#fff;
    padding: 10px;
    margin-right:10px;
    border:1px solid #d9d9d9;
}

body > div.layout-center > div > main {
    border:none;
}

.layout-swap {
    background:#FEFEFE;
}

.col-xs-9 img {
    max-width:100%;
    min-width: 200px;
    height: auto;
}



.node-podcast-episode {
    float:left;
}

@media screen and (max-width: 600px) {
    #sidebar_left {
        display:none;
    }
    .col-xs-9 {
        width:100%;
    }
}

.region-sidebar-left {
  padding:15px;
  width:330px;
  max-width:400px;
}

.col-xs-9 {
  width:67%;
  float:right;
  margin-top:10px;
}

#header{
  height:500px;
  border:1px solid #000;

 background:url(/sites/all/themes/radix/assets/images/what_happending_header2.jpg);
 -webkit-animation:100s scroll infinite linear;
-moz-animation:100s scroll infinite linear;
-o-animation:100s scroll infinite linear;
-ms-animation:100s scroll infinite linear;
animation:100s scroll infinite linear;
display:flex;
}

.logo-wrap-1 {
  height:100%;
  text-align:center;
}
.logo-wrap-2 {
  opacity:.85;
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.logo-wrap {
  text-align:center;
}

.message-wrap-1 {
  height:100%;
}

.message-text {
  color:#FFF;
  font-size:40px;
}

.message-wrap-2 {
  position:relative;
  top:50%;
  transform:translateY(-50%);
  text-align:center;
}

.region-content {
  display:flex;
  flex-wrap:wrap;
}

#content > div > div.col-xs-9 > div > article > h2 > a:hover {
  transition:.2s;
}

#sidebar_left {
  display:none;
}




@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
